/* @media (min-width:800px){ */

body {
  background-color: pink;  
}


html {
    scroll-behavior: smooth;
}


/* DESKTOP NAVIGATION */

.nav{
    background: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    

}


.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 17vh;
    padding-left: 30%;
    gap: 37px;

}


.nav-links a {
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
    
}


.nav-links a:hover {
    color: #6f1076;
    text-shadow: 0 0 10px;
    text-decoration: underline;
    transition-duration: 0.5s;
}

